<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/users/signup">User Signup</a>
    <br>
    <a href="/users/login">User Login</a>
    <br>
    <a href="/files">All Files</a>
    
  </body>
</html>
